<!DOCTYPE html>
<html>
    <head>
        <title>My App</title>
    </head>
    <body>
    <h1>Blog App</h1>
  
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>

    <h2>Register</h2>
    <form action="/register" method="post">
        <label for="new_username">Username:</label>
        <input type="text" id="new_username" name="new_username">
        <label for="new_password">Password:</label>
        <input type="password" id="new_password" name="new_password">
        <input type="submit" value="Register">
    </form>
    </body>
</html>