<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="post">
    <label for="new_username">Username:</label><br>
    <input type="text" id="new_username" name="new_username"><br>
    <label for="new_password">Password:</label><br>
    <input type="password" id="new_password" name="new_password"><br>
    <input type="submit" value="Register">
  </form>
</body>
</html>